html,
body {
    height: 100%;
}
a {
    display: block;
    color: rgb(0, 132, 255);
}
button {
    background-color: #89CA24;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.para {
    font-size: 12px;
}
.forgot-form {
    width: 100%;
    max-width: 420px;
    padding: 20px;
    margin: 11% auto;
    border: 1px solid grey;
    border-radius: 10px;
}