<form class="forgot-form" [formGroup]="forgotMailForm" (ngSubmit)="forgotMail()">
  <div class="text-center mb-4">
    <img class="mb-2" src="../assets/TYSS Logo.png" alt="Test Yantra Logo" width="200" height="72">
    <h3 class="mb-2 font-weight-normal">Password Recovery</h3>
    <p class="font-italic para">We'll send you instructions in email</p>
  </div>

  <div class="form-group mb-3">
    <label for="inputEmail">Email Address</label>
    <!-- <i class="fa fa-envelope-o" aria-hidden="true"></i> -->
    <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email address" required="" autofocus="">
  </div>

  <label *ngIf="errorMessage" class="error text-center mb-3"><i class="fa fa-exclamation-triangle mr-2 text-warning" aria-hidden="true"></i>{{ errorMessage }}</label>
  <label *ngIf="successMessage" class="error text-center mb-3"><i class="fa fa-exclamation-circle mr-2 text-success" aria-hidden="true"></i>{{ successMessage }}</label>
  
  <button class="btn btn-lg btn-block mb-2" type="submit">Reset Password</button>
  <a class="text-center" routerLink="/login">Navigate to login</a>
</form>