<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h4>Talent Hunt</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="add-requirement">Add Requirement</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="schedule-interview">Schedule Interview</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="view-requirement">View Requirement</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="view-schedules">View Schedules</a>
          </li>
      </ul>
    </div>
  </nav>